{% extends 'base.html' %} {% block scripts %}
<script src="{{ url_for('static', path='js/common.js?v1') }}" defer></script>
<script src="{{ url_for('static', path='js/patient.js?v1') }}" defer></script>
<script>
  const uname = "{{ user.name }}";
</script>
{% endblock %} {% block content %}
<div class="container mx-auto px-4 py-8">
  <div id="actCon" class="bg-white shadow-md rounded-lg p-2 mb-3 hidden has-[div]:flex flex-wrap gap-3">
    <!-- <div class="flex items-center space-x-4">
      <div class="relative">
        <div
          class="rounded-full w-12 h-12 bg-blue-500 text-white grid place-content-center text-xl font-semibold cursor-pointer"
        >
          <p>M</p>
        </div>
        <div
          class="absolute w-3 h-3 bg-green-400 rounded-full right-0 top-0 animate-ping"
        ></div>
      </div>
      <p class="text-sm font-medium text-gray-800 truncate">Dr. Martin</p>
    </div> -->
  </div>

  {% include 'chatSec.html' %}
</div>
{% endblock %}
